*.npy
!grid_concentration.npy
*.pdf
*.tiff
*.h5
*.h50
*.h51
*.h52
*.h53
*.sqlite
*.qdrep
*.output
*.error
*.cobaltlog
*.sh
*.pyc
xtal1_scalers
xtal1_xrf-fits
xtal1_xrf-roi
xtal1_xrf-roi-plus
cabead_scalers
cabead_xrf-fits
cabead_xrf-roi
cabead_xrf-roi-plus

