*.npy
!grid_concentration.npy
*.pdf
*.tiff
*.h5
!initialized_grid_concentration.h5
!grid_concentration.h5
*.sqlite
*.qdrep
*.output
*.error
*.cobaltlog
*.sh
*.pyc
xtal1_scalers
xtal1_xrf-fits
xtal1_xrf-roi
xtal1_xrf-roi-plus
